* {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}


@import "./components/header";

@import "./components/main";

@import "./components/footer";



/* media querys*/

/* vista menores de 1024px*/


/*Pag Inicio*/

@media screen and (max-width: 1024px) {
     body {
         background-color: white;
     }

     .rewards__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px 300px;
     }
}



@media screen and (max-width: 600px) {
    body {
        background-color: pink;
    }

    .header {
        flex-direction: row;
    }

    .nav {
        display: none;
    }

    .header__icono {
        display: block;
        font-size: 25px;
    }
    

    .seccion {
        padding-top: 1rem;
        flex-direction: column-reverse;
    }

    .sec__1, .sec__2 {
        width: 100%;
    }

    .rewards__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px;
     }

    .footer {
        flex-direction: column;
        gap: 2rem;
    }
}

.gradientes {
    background-image: linear-gradient(to left, rgb(139, 36, 36), rgb(45, 45, 136), rgba(21, 177, 177, 0.596));
}


/*Pag Tickets*/

@media screen and (max-width: 1024px) {

}




@media screen and (max-width: 600px) {

    .header {
        flex-direction: row;
    }

    .nav {
        display: none;
    }

    .header__icono {
        display: block;
        font-size: 25px;
    }

    .seccion__tickets {
        padding-top: 1rem;
        flex-direction: column-reverse;
    }

    .sec__t1, .sec__t2 {
        width: 100%;
    }

    .footer {
        flex-direction: column;
        gap: 2rem;
    }

}


/*Pag Lineup*/

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 600px) {

    .header {
        flex-direction: row;
    }

    .nav {
        display: none;
    }

    .header__icono {
        display: block;
        font-size: 25px;
    }

    .seccion__lineup {
        padding-top: 1rem;
        flex-direction: column-reverse;
    }

    .footer {
        flex-direction: column;
        gap: 2rem;
    }
}



/* Pag Info*/

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 600px) {

    .header {
        flex-direction: row;
    }

    .nav {
        display: none;
    }

    .header__icono {
        display: block;
        font-size: 25px;
    }

    .seccion__info {
        padding-top: 1rem;
        flex-direction: column-reverse;
    }

    .footer {
        flex-direction: column;
        gap: 2rem;
    }
}


/* Pag Contactos*/

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 600px) {

    .header {
        flex-direction: row;
    }

    .nav {
        display: none;
    }

    .header__icono {
        display: block;
        font-size: 25px;
    }

    .seccion__contactos {
        padding-top: 1rem;
        flex-direction: column-reverse;
    }

    .footer {
        flex-direction: column;
        gap: 2rem;
    }
}