* {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}


@import "./components/header";

@import "./components/main";

@import "./components/footer";



/* media querys*/

/* vista menores de 1024px*/

@import "./components/media";


/*gradientes*/

.gradientes {
    background-image: linear-gradient(to left, rgb(139, 36, 36), rgb(45, 45, 136), rgba(21, 177, 177, 0.596));
}







