.fondo-5 {
    background-image: url(../imagenes/mancha.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}



.titulo-contactos {
    color: #1695c7; 
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    text-align: center;

    position: relative;
    top: 100px;
}



.titulo-datos {
    color: black;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    text-align: left;

    position: relative;
    top: 150px;
}



.datos {
    text-align: left;
    position: relative;
    top: 170px;
}



.titulo-redes{
    color: black;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    text-align: left;

    position: relative;
    top: 200px;
}


.contactos {
    position: relative;
    top: 200px;
}



.seccion__contactos {
    align-items: center;
}


.sec__c1, .sec__c2 {
    width: 100%;
}



.sec__c2 {
    display: flex;
    justify-content: center;
}