
body {
    font-family: 'Roboto', sans-serif;
}


.header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}



.links {
    line-height: 1.4;
    list-style: none; 
}



.nav {
    width: 100%;
}


.nav__lista {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;

    gap: 1rem;
}



.imagen-logo {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center; 
}



.imagen_logo {
    border-radius: 10px;
    width: 100px;
    height: 100px;
}


.header__icono {
    display: none;
}