.fondo-4 {
    background-image: url(../imagenes/fondo-azul.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}



.titulo-info {
    color: #0F2A08; 
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    text-align: center;

    position: relative;
    top: 10px;
}



.titulo-preguntas {
    color: black;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    list-style: none;
    line-height: 1.4;
    
    position: relative;
    top: 40px;
}



.imagen-mapa {
    text-align: center;

    position: relative;
    top: 80px;
    left: 25px
}



.seccion__info {
    align-items: center;
}



.sec__i2 {
    width: 100%;
    display: flex;
    justify-content: center;
}