.fondo-2 {
    background-image: url(../imagenes/fondo-tickets.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}


.titulo-tickets {
    color: #1779d4; 
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    text-align: center;

    position: relative;
    top: 100px;
}



.titulo-h2 {
    color: black; 
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    text-align: center;

    position: relative;
    top: 100px;
}



.imagen_tickets {
    margin: 20px;
    padding: 10px;

    position: relative;
    top: 90px;
}



.seccion__tickets {
    align-items: center;
}


.sec__t1, .sec__t2 {
    width: 100%;
}



.sec__t2 {
    display: flex;
    justify-content: center;
}